<module preload="all">
    <resources>
        <resource path="assets" prefix="assets" />
    </resources>
    <components>
        <component class="gfx.game.common.ply_history_view.MoveCellRenderer" alias="move-cell-renderer" />
        <component class="gfx.game.live.ShareGameTab" alias="sharegametab" />
        <component class="gfx.main.renderers.ChallengeModeRenderer" alias="challengemoderenderer" />
        <component class="gfx.main.renderers.TimeControlRenderer" alias="timecontrolrenderer" />
        <component class="gfx.main.OpenChallengesTable" alias="openchallengestable" />
        <component class="gfx.main.CurrentGamesTable" alias="currentgamestable" />
        <component class="gfx.main.PastGamesList" alias="pastgameslist" />
        <component class="gfx.basic_components.Square" alias="square" />
        <component class="gfx.basic_components.ARPImage" alias="arpimage" />
        <component class="gfx.basic_components.CopyableText" alias="copyabletext" />
        <component class="gfx.basic_components.AutosizingLabel" alias="autosizinglabel" />
        <component class="gfx.menu.challenges.ChallengeEntryRenderer" alias="challengeentryrenderer" />
        <component class="gfx.menu.challenges.ChallengeList" alias="challengelist" />
        <component class="gfx.profile.simple_components.StudyWidget" alias="studywidget" />
    </components>
    <themes>
        <global>
            <style>
                .absolute {
                    clip: false
                }
                .tool-button {
                    background-color: yellow;
                    background-opacity: 0;
                    border: none;
                    padding: none;
                }
                .dropdown-popup {
                    filter: none;
                }
                .dropdown-popup .item-renderer:selected {
                    background-color: #ddddf1
                }
                .dropdown-popup .item-renderer:selected .label {
                    color: #666666
                }
            </style>
        </global>
    </themes>
    <scriptlets>
        <import class="dict.Phrase" keep="true" static="true" />
        <import class="dict.Dictionary" keep="true" static="true" />
    </scriptlets>
</module>