<module>
    <components>
        <component class="gfx.common.MoveNavigator" alias="movenavigator" />
        <component class="gfx.common.CreepingLine" alias="creepingline" />
        <component class="gfx.common.GameWidget" alias="gamewidget" />
        <component class="gfx.game.Clock" alias="clock" />
        <component class="gfx.game.GameActionBar" alias="gameactionbar" />
        <component class="gfx.game.GameInfoBox" alias="gameinfobox" />
        <component class="gfx.game.Chatbox" alias="chatbox" />
        <component class="gfx.game.ShareGameTab" alias="sharegametab" />
        <component class="gfx.analysis.AnalysisActionBar" alias="analysisactionbar" />
        <component class="gfx.main.ChallengeModeRenderer" alias="challengemoderenderer" />
        <component class="gfx.main.TimeControlRenderer" alias="timecontrolrenderer" />
        <component class="gfx.main.OpenChallengesTable" alias="openchallengestable" />
        <component class="gfx.main.CurrentGamesTable" alias="currentgamestable" />
        <component class="gfx.main.PastGamesList" alias="pastgameslist" />
        <component class="gfx.basic_components.Square" alias="square" />
        <component class="gfx.basic_components.ARPImage" alias="arpimage" />
        <component class="gfx.basic_components.CopyableText" alias="copyabletext" />
        <component class="gfx.basic_components.AutosizingLabel" alias="autosizinglabel" />
        <component class="gfx.menubar.ChallengeEntryRenderer" alias="challengeentryrenderer" />
        <component class="gfx.menubar.ChallengeList" alias="challengelist" />
        <component class="gfx.profile.StudyWidget" alias="studywidget" />
    </components>
    <themes>
        <global>
            <style>
                .tool-button {
                    background-color: yellow;
                    background-opacity: 0;
                    border: none;
                    padding: none;
                }
                .dropdown-popup {
                    filter: none;
                }
            </style>
        </global>
    </themes>
    <scriptlets>
        <import class="dict.Phrase" keep="true" static="true" />
        <import class="dict.Dictionary" keep="true" static="true" />
    </scriptlets>
</module>