<module>
    <components>
        <component class="gfx.common.Clock" alias="clock" />
        <component class="gfx.common.MoveNavigator" alias="movenavigator" />
        <component class="gfx.common.ActionBar" alias="actionbar" />
    </components>
    <scriptlets>
        <import class="dict.Phrase" keep="true" static="true" />
    </scriptlets>
</module>